<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav class="nav_container">
          <a class="nav_links" href="/">Home</a>
          <a class="nav_links active" href="/about">About</a>
          <a class="nav_links" href="/work">Work</a>
          <a class="nav_links" href="/photogallery">photo Gallery</a>
        </nav>
    </header>
    <section class="about-section">
        <h1></h1>
        <p>
            My Mother's name is Mamoona Aftab, She is living in Pakistan. She is mother of 5 
            (3 sons and 2 daughters). She loves us unconditionally. She is very humble and kind person. My mother is best gift of God for me.
            She taught me discipline and good moral values.She cooks best food ever but her health is not good now so
            she is not able to cook more but she is my best chef. I am living far away from her i miss her everyday and everytime. I pray from
            God about her good health and happiness.
        </p>
    </section>
    <script src="/js/script.js"></script>
</body>
</html>